/* MAKET SPECIFIC STYLES */

/* BODY */
#lay_body {}

/* BLOCK 1 */
#lay_f1 {}


body, table, tr, td, p, a, input, select, textarea {
	color: black;
}

#layout {
	padding: 1em;
}

#logo {
	float: left;
}

#caption {
	margin-left: 100px;
}

.footer {
	margin-top: 3em;
}